{% extends "base.html" %}
{% load component_tags %}

{% block title %}
À propos |
{% if institution %}
    {{ institution.short_name|default:institution.name }}
{% else %}
    ESFé
{% endif %}
{% endblock %}

{% block content %}

    {# HERO #}
    {% component "about_hero"
        label="Présentation institutionnelle"
        title=hero_title
        subtitle=hero_subtitle
    %}
    {% endcomponent %}

    {# SECTIONS DYNAMIQUES #}
    {% for section in sections %}
        {% component "sections"
            label=section.get_section_key_display
            title=section.title
            subtitle=section.subtitle
            content=section.content
            image=section.image
            highlights=section.highlights
            background=section.background
            icon=section.icon
        %}
        {% endcomponent %}
    {% endfor %}

{% endblock %}