<td class="semester semester-result">
  <span class="result-label">Moyenne</span>
  <span class="result-value">{{ row.semester_average_display|default:"0,00" }}</span>
</td>
<td class="semester semester-result">
  <span class="result-label">Pourcentage</span>
  <span class="result-value">{{ row.semester_percentage_display|default:"0,00" }}%</span>
</td>
<td class="semester semester-result {% if row.semester_credits == 0 %}credit-bad cell-bad{% else %}credit-ok cell-ok{% endif %}">
  <span class="result-label">Credits</span>
  <span class="result-value">{{ row.semester_credits_display|default:"0,00" }}</span>
</td>
