{% load component_tags %}
{% component "secretary_workspace"
  active_section=active_section
  branch=branch
  branch_name=branch_name
  user_display_name=user_display_name
  pending_registry_count=pending_registry_count
  active_visits=active_visits
  appointments_today=appointments_today
  pending_documents_count=pending_documents_count
  pending_tasks=pending_tasks
  kpi_cards=kpi_cards
  mini_calendar_cells=mini_calendar_cells
  registry_routing_summary=registry_routing_summary
  recent_registry=recent_registry
  registry_page=registry_page
  today_appointments_rows=today_appointments_rows
  open_visits_rows=open_visits_rows
  pending_tasks_rows=pending_tasks_rows
  today_visits_rows=today_visits_rows
  today_visits_page=today_visits_page
  appointments_page=appointments_page
  pending_documents_rows=pending_documents_rows
  document_process_funnel=document_process_funnel
  classes_rows=classes_rows
  classes_page=classes_page
  classes_count=classes_count
  students_count=students_count
  student_results=student_results
  student_results_page=student_results_page
  student_query=student_query
  upcoming_meetings=upcoming_meetings
  meetings_page=meetings_page
  meetings_rows=meetings_rows
  pending_tasks_rows=pending_tasks_rows
  pending_registry_rows=pending_registry_rows
  registry_type_distribution=registry_type_distribution
  secretary_profile=secretary_profile
  latest_salary_entry=latest_salary_entry
  salary_entries=salary_entries
  salary_entries_page=salary_entries_page
  notifications_count=messages_count
  notifications_rows=notifications_rows
  notifications_page=notifications_page
  selected_notification=selected_notification
  profile_form=profile_form
  preference_form=preference_form
  today=today
%}{% endcomponent %}
