{% load humanize %}
<div id="widget-scope-bar"
     class="dg-scope-bar"
     hx-get="{% url 'accounts:widget_scope_bar' %}"
     hx-trigger="every 30s, dashboardStatsUpdated from:body, cashBalanceUpdated from:body, candidatureUpdated from:body, paymentUpdated from:body"
     hx-swap="outerHTML">
  <span class="dg-scope-chip"><i class="fa-solid fa-building" style="margin-right:4px;"></i>{{ branch.name }}</span>
  <span class="dg-scope-chip"><i class="fa-solid fa-users" style="margin-right:4px;"></i>{{ total_students|intcomma }} etudiants</span>
  <span class="dg-scope-chip"><i class="fa-solid fa-file-circle-check" style="margin-right:4px;"></i>{{ candidatures_pending|intcomma }} candidatures</span>
  <span class="dg-scope-chip"><i class="fa-solid fa-credit-card" style="margin-right:4px;"></i>{{ pending_payments|intcomma }} paiements en attente</span>
  <span class="dg-scope-chip"><i class="fa-solid fa-vault" style="margin-right:4px;"></i>{{ cash_balance|intcomma }} FCFA caisse</span>
</div>
