{% extends "emails/base_email.html" %}

{% block content %}

<h2 style="color:#f39c12;margin-top:0;">
  Nouveau message reçu
</h2>

<p><strong>Nom :</strong> {{ message_obj.full_name }}</p>
<p><strong>Email :</strong> {{ message_obj.email }}</p>
<p><strong>Sujet :</strong> {{ message_obj.get_subject_display }}</p>

<hr style="margin:30px 0;border:none;border-top:1px solid #d6e4ec;">

<div style="background:#f4fbfb;padding:20px;border-radius:8px;">
  {{ message_obj.message }}
</div>

<p style="margin-top:25px;font-size:13px;color:#5b93b3;">
IP : {{ message_obj.ip_address }}<br>
Navigateur : {{ message_obj.user_agent }}
</p>

{% endblock %}