.memoire-visionneur__page {
  user-select: none;
  -webkit-user-select: none;
}

.memoire-visionneur__page img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
